<!DOCTYPE html>
<html ng-app="redditCloneApp">
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Patua+One" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  </head>
  <body ng-controller="PostContentController as posts">
    <!-- navbar -->
    <nav>
      <div class="nav-wrapper red darken-4">
        <a href="#" class="brand-logo">&nbsp;cREddit. It's Reddit, Cloned.</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <form name="searchPosts" class="valign-wrapper">
              <div class="input-field">
                <input id="search" type="search" placeholder="Search Posts" ng-model="search">
                <label for="search"><i class="material-icons valign">search</i></label>
                <i class="material-icons valign">close</i>
              </div>
            </form>
          </li>
          <li><span class="add-review" ng-click="addReview = !addReview">Add Review</span></li>
          <!-- dropdown -->
          <li>
            <a class="dropdown-button" href="javascript:void(0);" data-activates="sortDropdown" dropdown data-hover="true">Sort By</a>
            <ul id="sortDropdown" class="dropdown-content" ng-model="sortPosts">
              <li><a href="javascript:void(0);" ng-click="sortPosts = posts.date">Date</a></li>
              <li><a href="javascript:void(0);" ng-click="sortPosts = posts.voteCount">Votes</a></li>
              <li><a href="javascript:void(0);" ng-click="sortPosts = posts.title">Title</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <!-- submit new review -->
    <div ng-show="addReview" class="container">
      <div class="review-form">
        <div class="row">
          <form class="col s12  review-form" name="newPostForm" ng-submit="addPost()">
            <div class="row">
              <div class="input-field col s6">
                <input id="stadium_name" type="text">
                <label for="stadium_name">Stadium Name</label>
              </div>
              <div class="input-field col s6">
                <input id="author" type="text" class="validate">
                <label for="author">Author's Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="description" type="textarea" class="materialize-textarea"></textarea>
                <label for="description">Description</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="image" type="text" class="validate">
                <label for="image">Stadium Image</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 add-post">
                <button class="btn waves-effect waves-light btn-floating grey darken-4">+</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- main -->
    <main>
      <div class="container">
        <header>
          <h4>College Football Stadium Reviews</h4>
        </header>
      </div>
    <!-- main div for card panels -->
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel post-box grey lighten-5" ng-repeat="posts in postsArray | filter:search | orderBy: sortPosts">
          <div class="row" ng-controller="CommentController as CommentCtrl">
            <span class="post-title">{{posts.title}}&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span ng-click="CommentCtrl.upVote(posts)" class="upvote"><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i></span>
            <span class="downvote" ng-click="CommentCtrl.downVote(posts)"><i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i></span>
            <span class="post-title">&nbsp;&nbsp;|&nbsp;&nbsp;<span class="post-count" ng-class="{'positive-vote': posts.voteCount > 0, 'negative-vote': posts.voteCount < 0, 'vote-zero': posts.voteCount === 0}" ng-model="sortByRating" vale="rating">{{posts.voteCount}}</span></span>
          </div>
          <div class="row post-content">
            <span class="text-justify">Post By: {{posts.author}}</span>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <div class="post-image"><img src="{{posts.image}}" alt="Stadium Image"/></div>
            </div>
            <div class="col s12 m6">
              <span class="valign post-content black-text">{{posts.content}}</span>
            </div>
          </div>
          <div class="row">
            <span>Posted: <span class="sub-bottom">{{posts.date|date:'medium'}}</span></span>
            <span class="bottom-post comments-bottom" ng-click="showComments = !showComments">&nbsp;&nbsp; | Comment(s):</span>
            <span class="sub-bottom">&nbsp;{{posts.comments.length}}</span>
            <span ng-click="addComments = !addComments" class="add-comment">&nbsp;&nbsp;|&nbsp;&nbsp;Add a Comment</span>
            <div class="comments" ng-show="showComments" ng-repeat="comments in posts.comments">
              <span class="comments-username"><strong>{{comments.username}}</strong>:&nbsp;</span><span class="comments-comment">{{comments.comment}}</span>
            </div>
            <div class="container" ng-show="addComments">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s3">
                    <input id="user_name" type="text">
                    <label for="first_name">Username</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="comment" type="text" class="validate">
                    <label for="comment">Comment</label>
                  </div>
                  <div class="input-field col3 valign"></div>
                  <button class="submit-comment btn waves-effect waves-light btn-floating grey darken-4">+</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- footer -->
  <!-- <footer class="page-footer red darken-4">
    <a class="grey-text text-lighten-4 center" href="http://reddit.com">Go to the Real Thing.</a>
  </footer> -->
  <!-- javascript links -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/locale/af.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0/angular-moment.min.js"></script> -->
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="controller.js"></script>
  <script type="text/javascript" src="comment-controller.js"></script>
  </body>
</html>
