header {
  margin-top: 2em;
  margin-bottom: 3em;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

img {
  width: 90%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin-left: 2em;
}

.comments-bottom, .add-comment, .add-review {
  cursor: pointer;
}

/*=====================
Nav bar
=====================*/
.sort-dropdown {
  color: black;
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 1em;
  padding: 10px;
  font-weight: bold;
}

input[type="search"] {
  margin: 10px 20px 10px 0px;
  height: 44px !important;
}

ul.dropdown-content li a {
  color: #000;
}

.add-review {
  margin-left: 10px;
}

/*=====================
Post Box Main Content
=====================*/
.post-box {
  margin-left: 2em;
  margin-right: 2em;
}

.post-title {
  font-family: 'Patua One', Arial, sans-serif;
  font-size: 2em;
}

.post-content {
  margin-top: -1em;
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 1em;
  text-align: justify;
}

.post-count {
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 0.6em;
}

.bottom-post {
  font-family: 'Patua One', Arial, sans-serif;
  font-size: 1.1em;
}

.upvote, .positive-vote {
  color: #1DA237;
}

a[ng-click] {
  cursor: pointer;
}

.downvote, .negative-vote {
  color: #EE2C2C;
  cursor: pointer;
}

.vote-zero {
  color: black;
}

.sub-bottom {
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 0.9em;
}

/*=====================
Post Comments
=====================*/

.comments-username {
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.comments-comment {
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 1em;
}

.comments {
  margin: 10px;
}

.submit-comment {
  margin-top: 1em;
}

/*=====================
Add New Post Form
=====================*/

.review-form {
  margin-left: 25%;
}

.input-field input[type=text]:focus + label {
  color: #000;
}

.input-field input[type=textarea]:focus + label {
  color: #000;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.input-field textarea[type=textarea]:focus + label {
  color: #000;
}

.input-field textarea[type=textarea]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.add-post {
  width: 50%;
  text-align: center;
}

/*=====================
Validate Forms
=====================*/

input.ng-invalid {
  background-color: #EE2C2C;
  opacity: 0.2;
}

.error-block {
  font-family: 'Oxygen', Arial, sans-serif;
  color: #EE2C2C;
  margin: 10px;
}

input.ng-valid {
  background-color: 1px solid #1DA237;
  opacity: 80%;
}
